* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: white;
}


/* This code targets title */

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: normal;
}


/* This code targets title */

.container-fluid {
    padding: 10px;
    background-color: #708090;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}


/* This code targets entire nav section */

.collapse-navbar-collapse .navbar-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}


/* This code targets a class href */

.collapse-navbar-collapse .navbar-nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px 10px;
    display: block;
    color: black;
    font-weight: normal;
}

@media (max-width: 768px) {
    .container-fluid {
        display: block;
    }
    .collapse-navbar-collapse .navbar-nav {
        display: none;
    }
    .collapse-navbar-collapse .navbar-nav a {
        display: block;
    }
}